@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #f8f8f8;
    color: #333;
}
header{
    max-width: 100%;
    height: 100%;
    padding: 4% 0px 10px 0px;
    background-color: #9284D0;
    color: #FFF;
}
.nav-bar{
    width: 100%;
    display: flex;
    align-items: end;
    flex-wrap: wrap;
}
.nav-bar .logo{
    width: 50%;
    display: flex;
    margin-left: 5%;
    align-items: end;
}
.nav-bar .menu{
    width: 40%;
    font-size: 1.2rem;
}
.nav-bar .menu ul{
    display: flex;
    justify-content: end;
    list-style: none;
    list-style-type: none;
    flex-wrap: wrap;
}
.nav-bar .menu li{
    display: inline-block;
    margin-right: 1rem;
}
.menu a {
    text-decoration: none;
    color: #FFF;
}
.menu a:hover{
    color: black;
}
hr{
    display: flex;
    position: relative;
    height: 2px;
    top: -5px;
    border: 0;
    background-color: #FFF;
}

/* --------------------------------------------- */
/*                Main da página                */
section .container {
    width: 80%;
    margin-left: 10%;
    padding: 15px 0 10px 0;
}
.container .img_cont img{
    width: 100%;
}
.container .text_cont{
    width: 100%;
    font-size: 1rem;
    text-align: justify;
}
.container input[type="button"]{
    margin-top: 10px;
    width: 12%;
    padding: 10px;
    border: none;
    border-radius: 20px;

    background-color: #9b9a9a;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    letter-spacing: 2px;
   
    
    cursor: pointer;
}